@import "compass";
@charset "utf-8";
@import "normalize";
@import "animate";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body{
	margin:0;
	padding:0;
	background:#2c2c2c;
}

a{
	text-decoration:none;
	color:#fff;
}


.main{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#2c2c2c;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

.manageList{
	article{
		@extend .group;
		line-height:52px;
		color:#fff;
		border-bottom:1px solid #cdcdcd;
		padding:15px;
	}
}

.pullLeft{
	float:left;
}

.pullRight{
	float:right;
}

.group{
	&:before,
	&:after {
		content: " ";
		display: table;
	}
		&:after {
		clear: both;
	}
}


.list{
	background:#2c2c2c;
	border:2px solid #2c2c2c;
	article{
		width:25%;
		height:172px;
		// background: #a92119;
		float:left;
		display: block;
		border-right:2px solid #2c2c2c;
		border-left:2px solid #2c2c2c;
		border-top:2px solid #2c2c2c;
		border-bottom:2px solid #2c2c2c;
		position: relative;
		@extend .animated;
		@extend .fadeInLeft;
		span{
			background: #a92119;
			line-height: 170px;
			color:#fff;
			text-align:center;
			display: block;
			font-size:32px;
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			&.confirm{
				display: none;
			}
		}
		img{
			width:100%;
			height:100%;
			&.tapped{
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
			}
		}
		&.active{
			img{

			}

			.confirm{
				@extend .animated;
				@extend .bounceIn;
				background: #53da3f;
				display: block;
			}
		}
		&:nth-child(4n){
			// border-right:none;
		}
	}
}


//Customer List



//Product List
.cancel{
	width:42px;
	height:42px;
	line-height: 42px;
	font-size:40px;
	text-align:center;
	color:#fff;
	background: #686868;
	position: absolute;
	top:0;
	right:0;
}


//Customer Profile List


//Product Profile List



//Buttons

button{
	-webkit-appearance:none;
	border:0;
}

.button{
	line-height:52px;
	border-radius:5px;
	display:inline-block;
	padding:0 20px;
	font-size: 14px;
	margin:0;
	text-align:center;
	vertical-align:middle;
	cursor: pointer;
	// margin-bottom:5px;
	border:0;
}

.button.generic{
	color:#fff;
	background:#8b8b8b;
	&:focus, &:active{
			background-color: darken(#8b8b8b, 20%)
	}
	&.disabled{
		background-color: rgba(#8b8b8b, 0.4)
	}
}

.button.blue{
	color:#fff;
	background:#307ebc;
	&:focus, &:active{
			background-color: darken(#307ebc, 20%)
	}
	&.disabled{
		background-color: rgba(#307ebc, 0.4)
	}
}


.button.green{
	color:#fff;
	background:#6eb848;
	&:focus, &:active{
			background-color: darken(#6eb848, 20%)
	}
	&.disabled{
		background-color: rgba(#6eb848, 0.4)
	}
}

.button.block{
	display: block;
	width:100%;
}

.button.flat{
	border-radius:0;
}


form{
	padding:15px;
}


form label{
	line-height:28px;
	color:#fff;
	font-size:18px;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	border: 1px solid #c6c5c5;
	font-size: 16px;
	line-height:44px;
	height:46px;
	padding: 0 10px;
	width:100%;
	border-radius:5px;
	&.hasError{
		border:1px solid red ;
	}
}

textarea{
	height:auto;
}

.formGroup{
	@extend .group;
	margin-bottom:10px;
	&:last-child{
		margin-bottom: 0;
	}
}